/* 
         Common
   ============================ */
/****** Fonts ******/
:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --main-font-style: normal;
}

/* 
           Collor
============================ */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: rgb(46, 47, 66);
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* 
         Icons color
============================ */

.icon-soc {
  fill: var(--cloud);

}

body {
  font-family: var(--main-font);
  background-color: var(--white);
  color: var(--slate);
}

/* 
       Reset Configurations
   ============================ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* ============================
         Main Container 
   ============================ */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* 
       Common Section styles 
   ============================ */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*
       Header 
============================*/

.header-section-block {
  display: flex;
  justify-content: space-between;
}

.page-header {
  /* box-sizing: border-box; */
  border-bottom: 1px solid #e7e9fc;
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

/* --------
         Logo Header
----------*/
.logo {
  font-family: var(--logo-font);
  box-sizing: border-box;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--iris);

}

span {
  color: var(--navy-blue);
}

.logo-header {
  margin-right: 76px;

}

/* --------
         Header Navigation
----------*/
.header-logo {}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}


.header-nav-link {
  position: relative;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--grey);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  position: absolute;
  bottom: -1px;
  left: 0;
  opacity: 0;
}

.header-nav-link:focus::after,
.header-nav-link:hover::after,
.header-nav-link.current::after {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current,
.header-nav-link:active,
.header-nav-link:focus,
.header-nav-link:hover {
  color: var(--ocean);
}

.navigation-list {}

/* --------
         Address
----------*/

address {
  font-style: normal;
}

.header-adress-list {
  display: flex;
  gap: 40px;

}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus,
.address-link:hover {
  color: var(--ocean);
}

/* 
       Section 1  - Hero 
   ============================ */

.hero-section-block {
  height: 600px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--navy-blue);
  background-image:
    linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/img-bgm-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title-btn {
  display: flex;
}

.hero-section-title {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-style: var(--main-font-style);
  max-width: 496px;
  color: var(--white);
  margin: 0 auto;
  margin-bottom: 46px;
}

.hero-btn {
  font-style: var(--main-font-style);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--ocean);
}

/* 
       Section 2 - Benefits
   ============================ */

.benefits-section {}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  flex: content;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.benefits-list-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*
       Icons S2 
---------------*/


.benefits-icon-container {
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* 
       Section 3 - Team Card
   ============================ */

.team-section-block {
  background-color: var(--cloud);
}

.team-card-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-image {}

.team-card-item {
  padding: 32px 0;
}

.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}

.team-card-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.icon {
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon:focus,
.icon:hover {
  background-color: var(--ocean);
}

.soc-icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.soc-icon-item {
  width: 40px;
  height: 40px;
}

/* 
         Section 4 - Portfolio 
   ============================ */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:focus .overlay,
.portfolio-card:hover .overlay {
  transform: translateY(0);

}

.portfolio-list li:focus,
.portfolio-list li:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  padding: 40px 32px;
  text-align: left;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);

}

/* .thumb p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
} */

.portfolio-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* 
       Footer 
   ============================ */

.footer-section {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 264px;
}

.footer-link {
  margin-bottom: 16px;
}

.footer-logo-block {
  margin-right: 120px;
}

.footer-section .container {
  display: flex;
  align-items: baseline;
}

.footer-soc {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-soc-icon {
  width: 40px;
  height: 40px;
}

.footer-soc-icon .icon:focus,
.footer-soc-icon .icon:hover {
  background-color: var(--green);

}

.footer-soc-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-block {
  margin-right: 80px;
}

/* --------
         footer Logo
----------*/
.footer-logo {
  color: var(--cloud);
}


/*
      Footer Subscribe - input 
---------------*/

.scr-form-block {}


.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;

}

.user-scr-label {}

.scr-input {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--white);
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.0;
  letter-spacing: 0.04em;
  color: var(--white);


}

.scr-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 2.0;
  letter-spacing: 0.04em;
  color: var(--white);

}

.scr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: var(--iris);
  color: var(--white);
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;

  cursor: pointer;



}

.btn-scr-icon {

  fill: var(--white);
  margin-left: 16px;
}


/* 
        Modal 
============================ */


.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 999;

  display: flex;

  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;

  background: var(--dairy);

  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

  min-height: 584px;
  min-width: 408px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

/*
    X   Close Button
---------------*/

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  fill: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer;
}


.close-btn:focus,
.close-btn:hover {
  background-color: var(--ocean);
  fill: var(--white);
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*
      Overlay Title
---------------*/

.overlay-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;

}




/*
      Inputs Name Phone Email 
---------------*/

.label-block {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.input-block {
  position: relative;
}

.form-input {
  padding: 11px 34px;
  color: var(--navy-blue-modal);
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  background-color: transparent;
}

.form-icon {
  fill: var(--navy-blue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input:focus-within+.form-icon {
  fill: var(--iris);
}

.form-input:focus-within {
  border-color: var(--iris);
}

.form-input:focus,
.form-input:hover {
  border-color: var(--iris);
}


/*
      User Comment 
---------------*/

.comment-block {
  margin-bottom: 16px;

}

/* .user-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
} */

.text-comment {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  overflow: auto;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  resize: none;

}

.text-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.text-comment:focus-within {
  border-color: var(--iris);
}

.text-comment:focus,
.text-comment:hover {
  border-color: var(--iris);
}



/*
      Checkbox 
---------------*/

.checkbox-field {
  margin-bottom: 24px;
}

.checkbox-input {}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.custom-checkbox:focus,
.custom-checkbox:hover {
  border-color: var(--iris);
}


.checkbox-input:checked+.checkbox-label>.custom-checkbox {
  fill: var(--cloud);
  background-color: var(--ocean);
  border: none;
}

.custom-checkbox-icon {}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);

}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.checkbox-icon {}


/*
      Send Button 
---------------*/
.send-btn {

  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--ocean);
}