/* #region - Тимчасовий Клас */

.hidden {
    display: none;
}

/* #endregion */

/* #region - Common Styles */
/* Fonts */
:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --main-font-style: normal;
}

/* Color */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: rgb(46, 47, 66);
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: #2e2f42;
    --grey: #2e2f42;
    --white: #ffffff;
    --dairy: #fcfcfc;
    --common-black: #2f2f37;
}

/* Icon Color */
.icon-soc {
    fill: var(--cloud);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    background-color: var(--white);
    color: var(--slate);
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */

/* #region - Reset Configurations */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* #endregion */

/* #region - Section Style */


.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}



/* #endregion */

/* #region - Main Container */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion */

/* Header - 0 */

/* #region 0 Header - Mob */

/* logo */
.logo {
    box-sizing: border-box;

    font-family: var(--logo-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);

    text-transform: uppercase;
}

span {
    color: var(--navy-blue);
}

.logo-header {
    display: block;
    padding: 16px 0;
}

/* section */
.page-header {
    width: 100%;
    border-bottom: 1px solid var(--cornflower);

    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-section-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* address */
.address,
.header-nav-list {
    display: none;
}

/* button */
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: var(--common-black);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: var(--iris);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-soc-icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    /*  justify-content: center; */
}

.soc-icon-item {
    width: 40px;
    height: 40px;
}

/* #endregion */

/* #region 0 Header - Tab */

@media screen and (min-width: 768px) {

    /* logo */
    .logo-header {
        padding: 24px 0;
        margin-right: 120px;
    }

    /* burger BTN */
    .burger-btn {
        display: none;
    }

    /* navigation */
    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-nav-list {
        display: flex;
        gap: 40px;
    }

    .header-nav-link {
        display: block;
        position: relative;
        box-sizing: border-box;

        padding: 24px 0;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--grey);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link::after {
        content: "";
        position: absolute;
        left: 0;

        width: 100%;
        height: 4px;
        bottom: -1px;

        border-radius: 2px;
        opacity: 0;
        background-color: var(--ocean);
    }

    .header-nav-link:focus::after,
    .header-nav-link:hover::after,
    .header-nav-link.current::after {
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link.current,
    .header-nav-link:active,
    .header-nav-link:focus,
    .header-nav-link:hover {
        color: var(--ocean);
    }

    /* adress */
    .address {
        font-style: normal;
        display: block;
    }

    .header-adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--slate);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

/* #endregion */

/* #region 0 Header - Desk */

@media screen and (min-width: 1158px) {

    /* logo */
    .logo-header {
        margin-right: 76px;
    }

    /* address */
    .header-adress-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

    .address-link:focus,
    .address-link:hover {
        color: var(--ocean);
    }

}

/* #endregion */

/* Hero - 1 */

/* #region 1 - Hero - Mob */

.hero-section-block {
    height: 432px;
    max-width: 320px;

    margin: 0 auto;
    padding: 72px 0;

    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/img-background/bgm-mobile-min.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--navy-blue);
}

/* Title */
.hero-section-title {
    display: block;
    text-align: center;

    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
    /* margin-bottom: 46px; */

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-style: var(--main-font-style);
    color: var(--white);

    text-align: center;
}

.hero-title-btn {
    display: flex;
}

.hero-btn {
    display: block;

    height: 56px;
    min-width: 169px;
    margin: 0 auto;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    font-style: var(--main-font-style);

    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:active,
.hero-btn:focus,
.hero-btn:hover {
    background-color: var(--ocean);
}

/* #endregion */

/* #region  1 - Hero - Tab - Desk */
@media screen and (min-width: 768px) {
    .hero-section-block {
        height: 436px;
        max-width: 768px;

        padding: 112px 0;

        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/img-background/bgm-tablet-min.jpg);
    }

    /* Title */
    .hero-section-title {
        max-width: 496px;

        margin-bottom: 36px;

        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

}



@media screen and (min-width: 1158px) {
    .hero-section-block {
        height: 600px;
        max-width: 1440px;

        padding: 188px 0;

        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/img-background/bgm-desktop-min.jpg);
    }

    /* Title  */
    .hero-section-title {
        margin-bottom: 46px;
    }
}

/* #endregion */

/* Benefits - 2 */

/* #region 2 - Benefits - Mob */
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.benefits-list-title {
    /* font-size: 20px; */
    font-size: 36px;
    /* font-weight: 500; */
    font-weight: 700;
    /* line-height: 1.2; */
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    margin-bottom: 8px;

    text-align: center;
}

.benefits-list-desc {
    font-size: 16px;
    /* font-weight: 400; */
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Icons */
.benefits-icon-container {
    display: none;
}


/* #endregion */

/* #region Benefits - Tab */
@media screen and (min-width: 768px) {
    .benefits-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .benefits-item {
        flex: content;
        flex-basis: calc((100% - 2 * 24px) / 2);
    }

    .benefits-list-title {
        text-align: left;
    }
}

/* #endregion */

/* #region Benefits - Desk */
@media screen and (min-width: 1158px) {

    .benefits-list {

        gap: 24px;
    }

    .benefits-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 112px;
        width: 264px;
        margin-bottom: 8px;

        border: 1px solid var(--light-slate);
        border-radius: 4px;
        background-color: var(--cloud);
    }

    .benefits-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .benefits-list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue);

        margin-bottom: 8px;

    }

}

/* #endregion */

/* Our Team - 3 */

/* #region Our Team - Mob */
.team-section-block {
    background-color: var(--cloud);
}

/* Title */
.team-card-title {

    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    text-align: center;
    text-transform: capitalize;
}

/* Card */
.team-card-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 24px;
}

.team-card {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;

    flex-basis: calc((100 - 24px)/1);

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-item {
    padding: 32px 0;
}

.team-card-name {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    text-align: center;
}

.team-card-role {
    margin-bottom: 8px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

    text-align: center;
}

/* Soc Icons */
.icon:focus,
.icon:hover {
    background-color: var(--ocean);
}

.soc-icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 24px;
}

/* #endregion */

/* #region Our Team - Tab */

@media screen and (min-width: 768px) {
    .team-card-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-card {
        flex-basis: calc((100 - 24px)/2);
    }
}

/* #endregion */

/* #region Our Team - Desk */
@media screen and (min-width: 1158px) {
    .team-card {
        flex-basis: calc((100 - 3 * 24px)/4);
    }
}

/* #endregion */

/* Portfolio - 4 */

/* #region Portfolio - Mob */
.portfolio-title {
    margin-bottom: 72px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    text-align: center;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
}

.portfolio-card {
    width: calc((100% - 24px) / 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.portfolio-card-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-card:focus .overlay,
.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 40px 32px;

    text-align: left;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);

    background-color: var(--iris);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region Portfolio - Tab */
@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 24px;
        row-gap: 72px;
    }

    .portfolio-card {
        width: calc((100% - 24px) / 2);
    }
}

/* #endregion */

/* #region Portfolio - Desk */
@media screen and (min-width: 1158px) {
    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-card {
        width: calc((100% - 2 * 24px) / 3);
    }

    .portfolio-list {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-list li:focus,
    .portfolio-list li:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

    }
}


/* #endregion */





/* Menu */

/* #region 6 Menu - Mobile (only)  */

.mob-menu {
    background-color: var(--white);

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-container {
    position: relative;

    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;

}

.mob-menu-close-btn {
    top: 24px;
    right: 24px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    /* padding: 0; */
    margin-bottom: 24px;

    cursor: pointer;

    border: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-color: var(--dairy);
    fill: var(--navy-blue);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-nav {
    margin-bottom: auto;
}

.mob-nav-link {
    display: flex;
    flex-direction: column;

    display: block;
    position: relative;
    box-sizing: border-box;

    padding: 24px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-link.current,
.mob-nav-link:active {
    color: var(--ocean);
}

.mob-menu-address {
    margin-bottom: 48px;
}


@media screen and (min-width: 768px) {
    .mob-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .address-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: var(--slate);
        margin-bottom: 24px;
        font-style: normal;
    }

    .address-link:active {
        color: var(--ocean);
    }

}

/* #endregion */

/* Modal Window */

/* #region 7 Modal Window - Mob */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;

    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 288px;
    height: 623px;

    padding: 72px 16px 24px 16px;

    background: var(--dairy);
    border-radius: 4px;

    overflow-y: auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Close Button X */

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    padding: 0;
    margin-bottom: 24px;

    cursor: pointer;
    border-radius: 50%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-color: var(--cornflower);
    fill: var(--navy-blue);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
    background-color: var(--ocean);
    fill: var(--white);
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Overlay - Title */
.overlay-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

    margin-bottom: 16px;
}

/* Form - Name - Phone - Email */
.label-block {
    margin-bottom: 8px;
}

.form-label {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);

    margin-bottom: 4px;
}

.input-block {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;

    padding: 8px 16px;
    padding-left: 34px;

    color: var(--navy-blue-modal);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    outline: transparent;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;

    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--navy-blue);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within+.form-icon {
    fill: var(--iris);
}

.form-input:focus-within {
    border-color: var(--iris);
}

.form-input:focus,
.form-input:hover {
    border-color: var(--iris);
}


/* User Comment */
.comment-block {
    margin-bottom: 16px;
}

.text-comment {
    width: 100%;
    height: 120px;

    padding: 8px 16px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    resize: none;
    overflow: auto;
    outline: transparent;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.text-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.text-comment:focus-within {
    border-color: var(--iris);
}

.text-comment:focus,
.text-comment:hover {
    border-color: var(--iris);
}

/* Checkbox */
.checkbox-field {
    margin-bottom: 24px;
}

.checkbox-input {}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);

    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.custom-checkbox:focus,
.custom-checkbox:hover {
    border-color: var(--iris);
}

.checkbox-input:checked+.checkbox-label>.custom-checkbox {
    fill: var(--cloud);
    background-color: var(--ocean);
    border: none;
}

.custom-checkbox-icon {}

.checkbox-label {
    display: flex;
    align-items: center;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--light-slate);

}

.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
}

.privacy-block {
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.checkbox-icon {}

/* Send - Button */
.send-btn {
    display: block;

    height: 56px;
    min-width: 169px;

    margin: 0 auto;
    padding: 16px 32px;

    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    text-align: center;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: var(--ocean);
}

/* #endregion */

/* #region 7 Modal Window - Tab - Desck */
@media screen and (min-width: 768px) {

    .modal {
        min-height: 584px;
        min-width: 408px;

        padding: 72px 24px 24px 24px;
    }

    .form-input {
        padding: 11px 34px;
        padding-left: 38px;
    }

    .privacy-block {
        flex-direction: row;
    }

}

/* #endregion */